@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    min-height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    background: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat Alternates', sans-serif;
}
.wrapper {
    min-height: 100vh;
}
header, main, footer {
    width: 100%;
}

main {
    margin-top: 100px;
}
footer {
    background: #1f1f1f;
    height: 100px;
}
.container {
    width: 1170px;
    margin: 0px auto;
}
/* HEADER */
header {
    position: fixed;
    height: 100px;
    background: #1f1f1f;
    color: #eee;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 999;
    transition: all .5s;
}
.header_container {
    width: 1680px;
    margin: 0px auto;
}
.flex {
    display: flex;
    align-items: center;
}
.logo_text {
    width: 285px;
    margin-right: 130px;
}
.logo_text div:nth-child(1) {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: -10px;
}
.logo_text div:nth-child(2) {
    font-size: 30px;
    float: right;
    font-weight: 600;
    color: #da251c;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 55px;
    font-size: 18px;
}
.btn_header {
    position: relative;
    color: #eee;
    text-decoration: none;
}
.btn_header::after {
    display: block;
    position: absolute;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: #eee;
    content: "";
    transition: width 0.3s ease-out;
}
.btn_header:hover::after, .btn_header_active::after {
    width: 100%;
}
.contacts {
    font-size: 15px;
    margin-right: 0px;
}
.contacts div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.contacts a {
    text-decoration: none;
    color: #ccc;
}
.contacts img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
/* MAIN */
.popular_tours_title {
    width: 480px;
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    text-align: right;
    padding: 5px 15px;
    margin: 60px 0px;
    background: #DA251C;
}
.popular_tours_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.most_popular_tour, .popular_tour {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    border: 1px solid rgba(141, 125, 125, 0.37);
    background: rgba(26, 26, 26, 0.08);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.most_popular_tour {
    width: 100%;
    margin-bottom: 30px;
}
.popular_tour {
    width: 535px;
    margin-bottom: 40px;
}
.tour_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    background: rgba(68, 68, 68, 0.45);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding: 15px 0px;
}
.most_popular_tour .tour_title {
    width: 360px;
    color: #FFF;
    font-size: 30px;
}
.tour_get_more {
    position: absolute;
    top: 280px;
    right: 40px;
    border-radius: 30px;
    border: 2px solid rgba(255, 19, 19, 0.50);
    background: #1F1F1F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding: 10px 45px;
    transition: all .3s;
    cursor: pointer;
}
.most_popular_tour .tour_get_more {
    top: 380px;
    right: 60px;
    font-size: 24px;
}
.tour_get_more:hover, .tour_get_more:active {
    border: 2px solid #1F1F1F;
    background: #222;
    color: rgba(255, 19, 19);
}
.tour_text {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 20px;
}
.most_popular_tour .tour_text {
    font-size: 22px;
    padding: 20px;
}
.all_tours {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../images/Star.png);
    background-repeat: no-repeat;
    background-position: 50% 20px;
    padding-top: 100px;
    padding-bottom: 30px;
}
.btn_all_tours {
    width: 310px;
    border-radius: 30px;
    background: #1F1F1F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    padding: 20px 55px;
    border: none;
    transition: all .3s;
    cursor: pointer;
}
.btn_all_tours:hover, .btn_all_tours:active {
    background: #222;
    color: rgba(255, 19, 19);
}
/* TOURS */
.tours_container {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    background: #eee;
    border: 1px solid rgba(141, 125, 125, 0.37);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.filters {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 15px;
    background: #fff;
    border: 1px solid rgba(141, 125, 125, 0.37);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    transition: all .3s;
    cursor: pointer;
}
.filters:hover, .filters:active {
    background: #efefef;
}
.filters img {
    margin-right: 5px;
    width: 24px;
    height: 24px;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: none;
    border-radius: 10px;
    background: #fff;
    color: #000;
}
.tours_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tour {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 47%;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 25px;
    overflow: hidden;
}
.tour_place {
    position: absolute;
    top: 25px;
    width: 25%;
    font-size: 18px;
    color: #fff;
    text-align: right;
    background: #da251c;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 5px 15px;
}
.tour img {
    width: 100%;
}
.tour_info {
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.5);
    height: 65px;
}
.tour_info_name {
    font-size: 22px;
    font-weight: 600;
}
.tour_info_time {
    font-size: 16px;
    color: #ccc;
}
.filters_row {
    display: flex;
}
.filters_col {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.filters_col_title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.filters_controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #444;
}
.filters_controls svg {
    margin-right: 5px;
}
.filters_reset {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    background: #ff6565;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    transition: all .3s;
    cursor: pointer;
}
.filters_reset:hover {
    color: #ff6565;
    border: 1px solid #ff6565;
    background: #fff;
}
#svg_filters_reset {
    transition: fill .3s;
}
.filters_reset:hover #svg_filters_reset {
    fill: #ff6565;
}
.filters_confirm {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    background: #87ff87;
    border-radius: 15px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 5px;
    transition: all .3s;
    cursor: pointer;
}
.filters_confirm:hover {
    color: #87ff87;
    border: 1px solid #87ff87;
    background: #fff;
}
#svg_filters_confirm {
    transition: fill .3s;
}
.filters_confirm:hover #svg_filters_confirm {
    fill: #87ff87;
}
.filters_cancel {
    border: none;
    background: #fff;
    font-size: 14px;
    color: #444;
    text-decoration: underline;
    margin-right: 20px;
    cursor: pointer;
}
.input_wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
}
.input_wrapper label {
    margin-left: 10px;
}
.input_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input_price input {
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    margin-left: 10px;
    font-size: 16px;
}