@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    min-height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    background: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat Alternates', sans-serif;
}
.wrapper {
    min-height: 100vh;
}
header, main, footer {
    width: 100%;
}
main {
    position: relative;
    margin-top: 100px;
    min-height: 100vh;
}
main::before {
    z-index: 1;
    position: absolute;
    display: block;
    width: 120px;
    height: 100%;
    background: url(../images/star.svg);
    background-position: -120px -75px;
    content: "";
}
main::after {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 120px;
    height: 100%;
    background: url(../images/star.svg);
    background-position: 0 -75px;
    content: "";
}
footer {
    display: flex;
    align-items: center;
    background: #1f1f1f;
    color: #fff;
    height: 100px;
}
.container {
    width: 1170px;
    margin: 0px auto;
}
/* HEADER */
header {
    position: fixed;
    height: 100px;
    background: #1f1f1f;
    color: #eee;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 999;
    transition: all .5s;
}
.header_container {
    width: 1680px;
    margin: 0px auto;
}
.flex {
    display: flex;
    align-items: center;
}
.jc_space-between {
    justify-content: space-between;
}
.logo_text {
    width: 285px;
    margin-right: 130px;
}
.logo_text div:nth-child(1) {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: -10px;
}
.logo_text div:nth-child(2) {
    font-size: 30px;
    float: right;
    font-weight: 600;
    color: #da251c;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 55px;
    font-size: 18px;
}
.btn_header {
    position: relative;
    color: #eee;
    text-decoration: none;
}
.btn_header::after {
    display: block;
    position: absolute;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: #eee;
    content: "";
    transition: width 0.3s ease-out;
}
.btn_header:hover::after, .btn_header_active::after {
    width: 100%;
}
.contacts {
    font-size: 15px;
    margin-right: 0px;
}
.contacts div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.contacts a {
    text-decoration: none;
    color: #ccc;
}
.contacts img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
/* MAIN */
.hero {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 680px;
    background: url(../images/Начало.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero_title {
    position: absolute;
    right: 80px;
    bottom: 140px;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    text-align: right;
    text-shadow: 5px 0 0px #DA251C;
}
.hero_title div:nth-child(1) {
    font-size: 64px;
    letter-spacing: 9.6px;
}
.hero_title div:nth-child(2) {
    font-size: 48px;
    letter-spacing: 7.2px;
}
.popular_tours_title {
    position: relative;
    z-index: 2;
    width: 480px;
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    text-align: right;
    padding: 5px 15px;
    margin: 60px 0px;
    border: 1px solid #F00;
    border-left: none;
    background: #1F1F1F;
}
.popular_tours_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tour_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    background: rgba(68, 68, 68, 0.45);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding: 15px 0px;
}
.most_popular_tour .tour_title {
    width: 360px;
    color: #FFF;
    font-size: 30px;
}
.tour_get_more {
    position: absolute;
    top: 280px;
    right: 40px;
    border-radius: 30px;
    border: 2px solid rgba(255, 19, 19, 0.50);
    background: #1F1F1F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding: 10px 45px;
    transition: all .3s;
    cursor: pointer;
}
.most_popular_tour .tour_get_more {
    top: 380px;
    right: 60px;
    font-size: 24px;
}
.tour_get_more:hover, .tour_get_more:active {
    border: 2px solid #1F1F1F;
    background: #222;
    color: rgba(255, 19, 19);
}
.tour_text {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 20px;
}
.most_popular_tour .tour_text {
    font-size: 22px;
    padding: 20px;
}
.all_tours {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../images/Star.png);
    background-repeat: no-repeat;
    background-position: 50% 20px;
    padding-top: 100px;
    padding-bottom: 30px;
}
.btn_all_tours {
    width: 310px;
    border-radius: 30px;
    background: #1F1F1F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    padding: 20px 55px;
    border: none;
    transition: all .3s;
    cursor: pointer;
}
.btn_all_tours:hover, .btn_all_tours:active {
    background: #222;
    color: rgba(255, 19, 19);
}
/* TOURS */
.tours_container {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    background: #eee;
    border: 1px solid rgba(141, 125, 125, 0.37);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.filters {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 15px;
    background: #fff;
    border: 1px solid rgba(141, 125, 125, 0.37);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    transition: all .3s;
    cursor: pointer;
}
.filters:hover, .filters:active {
    background: #efefef;
}
.filters img {
    margin-right: 5px;
    width: 24px;
    height: 24px;
}
.modal {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border: none;
    border-radius: 10px;
    background: #fff;
    color: #000;
    transition: all 1s;
}
.tours_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tour {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 47%;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 25px;
    overflow: hidden;
}
.tour_place {
    margin-top: 25px;
    width: 25%;
    font-size: 18px;
    color: #fff;
    text-align: right;
    background: #da251c;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 5px 15px;
}
.tour_info {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.5);
    transition: all .3s;
}
.tour_info_name {
    font-size: 22px;
    font-weight: 600;
}
.tour_info_time {
    font-size: 16px;
    color: #ccc;
}
.tour_desc {
    opacity: 0;
    visibility: hidden;
    color: #fff;
    max-height: 0;
    font-size: 16px;
    transition: all .5s;
}
.tour:hover .tour_desc {
    max-height: 100px;
    opacity: 1;
    visibility: visible;
}
.filters_row {
    display: flex;
    margin-bottom: 30px;
}
.filters_col {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}
.filters_col_title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}
.filters_controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.filters_controls svg {
    margin-right: 5px;
}
.filters_reset {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    background: #ff6565;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    transition: all .3s;
    cursor: pointer;
}
.filters_reset:hover {
    color: #ff6565;
    border: 1px solid #ff6565;
    background: #fff;
}
#svg_filters_reset {
    transition: fill .3s;
}
.filters_reset:hover #svg_filters_reset {
    fill: #ff6565;
}
.filters_confirm {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    background: #87ff87;
    border-radius: 15px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 5px;
    transition: all .3s;
    cursor: pointer;
}
.filters_confirm:hover {
    color: #87ff87;
    border: 1px solid #87ff87;
    background: #fff;
}
#svg_filters_confirm {
    transition: fill .3s;
}
.filters_confirm:hover #svg_filters_confirm {
    fill: #87ff87;
}
.filters_cancel {
    border: none;
    background: #fff;
    font-size: 14px;
    color: #444;
    text-decoration: underline;
    margin-right: 20px;
    cursor: pointer;
}
.input_wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
}
.input_wrapper label {
    margin-left: 10px;
}
.input_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input_price input {
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    margin-left: 10px;
    font-size: 16px;
}
.most_popular_tour {
    width: 100%;
    height: 500px;
}
.most_popular_tour .tour_place {
    font-size: 24px;
    width: 20%;
}
.most_popular_tour .tour_info_name {
    font-size: 30px;
}
.most_popular_tour .tour_info_time {
    font-size: 22px;
}
.most_popular_tour .tour_desc {
    font-size: 22px;
}
/* ABOUT */
.about_text_title {
    font-size: 48px;
    font-weight: 700;
    color: #da251c;
}
.about_text {
    font-size: 18px;
    margin-bottom: 50px;
}
.about_text p {
    text-indent: 20px;
    margin-bottom: 10px;
}
.about_img {
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.about_contacts {
    display: flex;
    align-items: center;
    margin-block: 50px
}
.about_contacts_text {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-right: 20px;
}
.contacts_div {
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.contacts_title {
    font-size: 40px;
    font-weight: 600;  
}
.contact_value {
    font-size: 24px;
}
.about_map {
    width: 600px;
    height: 600px;
    border: 0; 
    z-index: 1; 
    border-radius: 25px;
}
/* TOUR_PAGE */
.tour_page_info {
    padding-top: 20px;
    display: flex;
}
.tour_page_info img {
    width: 50%;
    height: 100%;   
    margin-right: 20px;
    border-radius: 25px;
}
.tour_page_text {
    display: flex;
    flex-direction: column;
}
.tour_page_title {
    font-size: 32px;
    font-weight: 700;
}
.tour_info_line, .touroperator_line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.tour_page_text_elem {
    margin-block: 10px;
}
.tour_page_text_title {
    font-size: 20px;
    font-weight: 600;
}
.tour_page_text_value {
    font-size: 16px;
}
.touroperator_title {
    font-size: 24px;
    font-weight: 600;
}
.touroperator_space {
    margin-top: 30px;
}
.touroperator_photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.touroperator_photo img {
    width: 100%;
    height: 100%;
}
.touroperator_info {
    width: 75%;
}
.tourop_name {
    font-size: 24px;
    font-weight: 600;
}
.tourop_info_block {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.tour_stops {
    margin-top: 30px;
    padding-bottom: 30px;
}
.tour_stops_title {
    font-size: 24px;
    font-weight: 600;
}
.stop_block {
    margin-top: 20px;
}
.stop_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stop_img {
    width: 40%;
}
.stop_img img {
    width: 100%;
    height: 100%;
    border-radius: 25px
}
.stop_desc {
    font-family: 'Montserrat', sans-serif;
    width: 50%;
}
.stop_title {
    font-family: 'Montserrat Alternates', sans-serif;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    padding-left: 15px;
}
.stop_title::before {
    color: #da251c;
    font-size: 40px;
    content: "•";
    position: absolute;
    left: 0;
    top: -15px;
}
.signup_tour {
    margin-top: 10px;
    position: relative;
    width: 100%;
    outline: none;
    background: #da251c;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    border-radius: 25px;
    border: 1px solid #da251c;
    padding: 10px;
    transition: all .3s;
    cursor: pointer;
}
.signup_tour:hover {
    color: #da251c;
    background: transparent;
}
#dialog_signup_close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s;
}
#dialog_signup_close:hover {
    color: #da251c;
}
.form_title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
.form_tour_info {
    font-size: 18px;
    color: #444;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.form_tour_info p {
    margin-top: 10px;
}
.form_tour_info span {
    color: #000;
    font-family: 'Montserrat Alternates', sans-serif;
}
.form_client_info {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}
.form_input_wrapper {
    display: flex;
    flex-direction: column;
    margin-block: 10px;
}
.form_input_wrapper input {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-bottom: 1px solid #444;
}
.form_input_wrapper input:active {
    outline: none;
}
.form_signup {
    margin-block: 20px;
    outline: none;
    border: 1px solid #da251c;
    background: #da251c;
    border-radius: 25px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: all .3s;
}
.form_signup:hover {
    color: #da251c;
    background: transparent;
}
#form_load {
    transition: all 1s;
}