/* Бургер */
/* ------------------ХЕДЕР--------------------------------- */
.header_burger .checkbox {
    position: absolute;
    display: block;
    height: 100%;
    width: 100px;
    top: 0px;
    right: 0px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
    z-index: 1001;
}
.header_burger .hamburger-lines {
display: block;
height: 26px;
width: 32px;
top: 35px;
right: 20px;
z-index: 2;
display: flex;
flex-direction: column;
justify-content: space-between;
margin-right: 5%;
z-index: 1000;

}

.header_burger .hamburger-lines .line {
display: block;
height: 4px;
width: 100%;
border-radius: 10px;
background: #da251c;
}

.header_burger .hamburger-lines .line1 {
transform-origin: 0% 0%;
transition: transform 0.4s ease-in-out;
}

.header_burger .hamburger-lines .line2 {
transition: transform 0.2s ease-in-out;
}

.header_burger .hamburger-lines .line3 {
transform-origin: 0% 100%;
transition: transform 0.4s ease-in-out;
}


.header_burger input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
transform: rotate(45deg);
}

.header_burger input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
transform: scaleY(0);
}

.header_burger input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
transform: rotate(-45deg);
}

.header_burger-items{
    display: none;
}
.header_burger{
    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  
/* Меню бургера */
.header_burger-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.header_burger-items {
    display: flex;
}

.header_burger-items {
    padding-top: 35px;
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.9);
    /* height: 100vh; */
    /* width: 100%; */
    /* transform: translate(-150%); */
    /* transform: translate(100%); */
    /* transform: translate(0%); */
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}
.header_burger-items li {
    list-style: none;
}
.header_burger-items a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
.header_burger-menu{
  position: absolute;
  width: 100%;
  z-index: -10;
  height: 100%;
  transform: translateY(-100%);
  transition: 0.6s;
}
/* .header_burger input[type="checkbox"]:checked ~ .header_burger-items {
    transform: translateX(0)!important;
  } */

/* input[type=checkbox]:checked ~ .header_burger-items{
    transform: translateX(0)!important;
} */
/* .header_burger input[type="checkbox"]:checked{
    display: none;
  } */

  
  .header_burger input[type="checkbox"]:checked {
     /* transform: translateY(100%)!important; */
     background-color: red;
  } 

  .header_burger input[type="checkbox"]:checked ~ .header_burger-menu{
    transform: translateY(100%)!important;
    transition: 0.6s;
  }
/* input[type="checkbox"] {
  display: none;
} */

.header_burger{
  display: none;
}
/* .header_hidden{
  z-index: 1000;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  background: black;
} */
.header_hidden{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100%;
  z-index: 100;
  display: flex;
  background: #1f1f1f;
}
.contacts{
  z-index: 1000;
  position: absolute;

  right: 3%;
}
/* ------------------КОНЕЦ ХЕДЕРА--------------------------------- */
/* КОНТЕН */
.media_hidden{
  display: none;
}
.second_popular_tours_title{
  height: 200px;
  width: 200px;
}
/* Футер */
footer{
  height: 100%;
}
.footer_container{
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.footer_container li {
  width: 100%;
}
.footer_container ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .footer_container .footer_container-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
/* ------------------МЕДИЯ ЗАПРОСЫ--------------------------------- */
@media (max-width: 981px) {
  .header_logo{
      width: 50px;
  }
  .header_container menu {
      height: 1;
  }
  .logo_text {
      width: 265px;
      margin-right: 0;
    }
  .header_nav, .contacts{
      display: none!important;
  }
  .header_container {
      width: 100%;
    }
  .header_burger{
    display: flex!important;
  }
}  
@media (max-width: 1220px){
.contacts{
    display: none;
}
.hero{
    display: none;
}
.popular_tours_title{
  display: none;
}
.second_popular_tours_title{
  display: flex !important;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #b95651;
  font-size: 30px;
  color: white;
  position: relative;
  z-index: 2;
  margin-top: 30px;
}
main::before{
  /* width: 30px!important; */
  display: none;
}
main::after{
  /* width: 30px!important; */
  display: none;
}
.container {
  width: 90% !important;
}
.popular_tours_list{
  margin-top: 30px;
}
.tour, .most_popular_tour{
  width: 100%;
  height: 350px;
}
.tour_place {
  font-size: 16px!important;
  width: 30%!important;
}
.tour_desc {
  font-size: 11px!important;
  opacity: 1!important;
  visibility: visible!important;
  max-height: 100%!important;
}
.tour{
  background-repeat: round!important;
}
.tour_info_time{
  font-size: 14px!important;
}
.tour_info_price
{
  font-size: 10px!important;  
}
.tour_info_name {
  font-size: 22px!important;
}
}
@media (max-width: 620px){
  .footer_container-info{
    display: none!important;
  }
}
@media (max-width: 460px){
   .tour_desc {
    font-size: 11px!important;
  }
  .tour, .most_popular_tour{
    height: 290px!important;
  }
}

@media (max-width: 400px){
  .tour, .most_popular_tour{
    height: 230px!important;
  }
  .tour_info{
    padding: 5px 30px!important;
  }
  .tour_desc {
    font-size: 8px !important;
    width: 110%!important;
  }
  .logo_text div:nth-child(1) {
    font-size: 25px;
  }
  .logo_text div:nth-child(2) {
    font-size: 35px;
  }
  .logo_text {
    width: 214px!important;
  }
  .all_tours{
    background-size: 200px!important;
    padding-bottom: 0;
    padding-top: 70px;
  }
  .btn_all_tours{
    width: 150px!important;
    padding: 9px 0px!important;
    font-size: 25px!important;
    margin-bottom: 10px!important;
  }
  .tour_info_name {
    font-size: 20px !important;
  }
}


/* ТУРЫ МЕДИАЗАПРОСЫ */

@media (max-width: 710px){
  .about_contacts {
    display: flex;
    align-items: center;
    margin-block: 10px!important;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about_contacts_text{
    margin-right: 0px;
    margin: 10px;
  }
  .about_map{
    margin-bottom: 20px;
  }
}
@media (max-width: 500px){
  .about_map{
    height: 400px;
  }
}